@model EurecertV2.Models.Company

@{
    ViewData["Title"] = "Oluştur";
}

<h2>Oluştur</h2>

<form asp-action="Create"asp-controller="Companies" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Kurum</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyFunctionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="CompanyFunctionId" class="form-control" asp-items="ViewBag.CompanyFunctionId">
                        <option value="">(Seçiniz)</option>
                    </select>
                    <span class="input-group-btn"><a class="btn btn-default" asp-controller="CompanyFunctions" asp-action="Index">...</a></span>
                </div>
                <span asp-validation-for="CompanyFunctionId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CountryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="CountryId" class="form-control" asp-items="ViewBag.CountryId">
                        <option value="">(Seçiniz)</option>
                    </select>
                    <span class="input-group-btn"><a class="btn btn-default" asp-controller="Countries" asp-action="Index">...</a></span>
                </div>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CityId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityId">
                        <option value="">(Seçiniz)</option>
                    </select>
                    <span class="input-group-btn"><a class="btn btn-default" asp-controller="Cities" asp-action="Index">...</a></span>
                </div>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Website" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SourceId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="SourceId" class="form-control" asp-items="ViewBag.SourceId">
                        <option value="">(Seçiniz)</option>
                    </select>
                    <span class="input-group-btn"><a class="btn btn-default" asp-controller="Sources" asp-action="Index">...</a></span>
                </div>
                <span asp-validation-for="SourceId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SalesPersonId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group">
                    <select asp-for="SalesPersonId" class="form-control" asp-items="ViewBag.SalesPersonId">
                        <option value="">(Seçiniz)</option>
                    </select>
                    <span class="input-group-btn"><a class="btn btn-default" asp-controller="ApplicationUsers" asp-action="Index">...</a></span>
                </div>
                <span asp-validation-for="SalesPersonId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProposalAbstract" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="6" asp-for="ProposalAbstract" class="form-control"></textarea>
                <span asp-validation-for="ProposalAbstract" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ProposalFile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
            <label class="btn-block btn-default btn-file">
                <input asp-for="ProposalFile" class="form-control" type="file" name="ProposalFileUpload" accept=".ppt,.pptx,.pptm,.doc,.docx,.pdf" />
            </label>
            <span asp-validation-for="ProposalFile" class="text-danger"></span>
        </div>
        </div>
        <div class="form-group">
            <label asp-for="ProposalResult" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="6" asp-for="ProposalResult" class="form-control"></textarea>
                <span asp-validation-for="ProposalResult" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DownPayment" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DownPayment" class="form-control" value="@String.Format(System.Globalization.CultureInfo.InvariantCulture, 
                                      "{0:000.00}", Model.DownPayment)"/>
                <span asp-validation-for="DownPayment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TotalAmount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TotalAmount" class="form-control" value="@String.Format(System.Globalization.CultureInfo.InvariantCulture, 
                                      "{0:000.00}", Model.TotalAmount)" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CompanyRequests" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="6" asp-for="CompanyRequests" class="form-control"></textarea>
                <span asp-validation-for="CompanyRequests" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VisitCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VisitCount" class="form-control" />
                <span asp-validation-for="VisitCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreateDate" readonly class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" readonly class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdateDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdateDate" readonly class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UpdatedBy" readonly class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Oluştur" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
