@{
    ViewData["Title"] = "Şifremi Sıfırla Doğrulaması";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şİfreniz sıfırlandı. Lütfen <a asp-controller="Account" asp-action="Login">giriş yapmak için buraya tıklayınız.</a>.
</p>
